/* Items */
.product-card {
    width: 300px !important;
    margin: 10px;
  }
  
  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 5px;
  }
  
  .product-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .product-details {
    text-align: center;
  }
  
  .product-name {
    margin-top: 10px;
  }
  
  .product-price {
    font-weight: bold;
  }
  
  .product-button {
    width: 100%;
    margin-top: 10px;
    background-color: #d8b4fe !important;
    border-color: #d8b4fe !important;
    color: black !important;
  }
.card-body {
    background-color: #f3e8ff !important;
    border-radius: 3%;
}  
  
/* NavBar */
.navbar {
    background-color: #B19DD0;
}
.navbar-nav a {
    color: black;
    font-size: 20px;
}

/* General */
body {
    background-color: #eef2ff;
}

/* Detalle productos */
.detail-item {
  display: flex;
  justify-content: space-between;
}